@model MvcAss_1.Models.PartialPerson

 
@*@{   Html.RenderAction("Partial_PeopleList", "Home");}*@


<h2>Partial Views Index</h2>
<table class="table">

    <tr class="row">
        <th class="col-md-4">          
            @Html.DisplayName("Name")
        </th>
        <th class="col-md-4">
            @Html.DisplayName("City")
        </th>
        <th class="col-md-4">
            @Html.DisplayName("PhoneNumber")
        </th>

    </tr>

</table>

<div class="row">

   <div>

        @foreach(var item in Model.peoples)
        {
            Html.RenderAction("Partial", new { id = item.Id }); // go to the Controller with action method name = "Partial"
 
            //Html.RenderPartial("_partialView", item);
        }

    </div>

</div> 































@* <table class="table">

        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.City)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PhoneNumber)
            </th>

        </tr>

        @foreach (var item in Model.person)

        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.City)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PhoneNumber)
                </td>
            </tr>
        }

    </table>  *@