@model List<MvcAss_1.Models.People>
@*@{   Html.RenderAction("Partial_PeopleList", "Home");}*@


@using (Ajax.BeginForm("Search", new AjaxOptions()
{
    UpdateTargetId = "search1",
    InsertionMode = InsertionMode.Replace
}
    ))
{
    <p> Name: @Html.TextBox("Name")
        @*City: @Html.TextBox("City")*@
    <input type="Submit" value="Filter" />
    </p>

}

<table class="table">

    <tr class="row">
        <th class="col-md-2">
            @Html.DisplayName("Name")
        </th>
        <th class="col-md-2">
            @Html.DisplayName("City")
        </th>
        <th class="col-md-2">
            @Html.DisplayName("PhoneNumber")
        </th>


        <th class="col-md-2">

        </th>
        <th class="col-md-2">

        </th>
        <th class="col-md-2">
        </th>

    </tr>

</table>

<div class="row">

    <div id="search1">

        @foreach (var item in Model)
        {
            Html.RenderAction("ListAPeople", new { id = item.Id }); // go to the Controller with action method name = "Partial"

            //Html.RenderPartial("_partialView", item);
        }

    </div>

</div> 


